{% block body %}

    {% include 'header.html.twig' %}

    <main>

        <h1>Leçons pour le {{ cursus.name }}</h1>
        <section class="formation">
        {% for lesson in lessons %}
            <article>
                <p>{{ lesson.name }}</p>
                {% if is_granted('ROLE_USER') %}
                    {% if userHasPurchasedLesson[lesson.id] %}
                        <button>
                            <a href="{{ path('app_lesson', { themeId: cursus.theme.id, cursusId: cursus.id, lessonId: lesson.id }) }}">
                                Consulter
                            </a>
                        </button>
                    {% else %}
                        <p>Prix: {{lesson.prix}}€</p>
                        <button>
                            <a href="{{ path('app_lesson', { themeId: cursus.theme.id, cursusId: cursus.id, lessonId: lesson.id }) }}">Acheter cette leçon</a>
                        </button>
                    {% endif %}
                {% else %}
                    <p>Vous devez être connecté pour acheter cette leçon.</p>
                {% endif %}
            </article>
        {% endfor %}
        </section>

    </main>

    {% include 'footer.html.twig' %}
{% endblock %}
