{% block body %}

    {% include 'header.html.twig' %}

    <main class="register">

        <h1>Inscription</h1>

        <section class="registration">

            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
                <div class="form-group">
                    {{ form_label(registrationForm.name, "Nom d'utilisateur") }}
                    {{ form_widget(registrationForm.name)}}
                    {{ form_errors(registrationForm.name)}}
                </div>
                <div class="form-group">
                    {{ form_label(registrationForm.email, "Adresse email") }}
                    {{ form_widget(registrationForm.email)}}
                    {{ form_errors(registrationForm.email)}}
                </div>
                <div class="form-group">
                    {{ form_label(registrationForm.plainPassword, "Insérez un mot de passe") }}
                    {{ form_widget(registrationForm.plainPassword)}}
                    {{ form_errors(registrationForm.plainPassword)}}
                </div>
                <div class="form-group">
                    {{ form_label(registrationForm.plainPasswordConfirm, "Confirmez votre mot de passe") }}
                    {{ form_widget(registrationForm.plainPasswordConfirm)}}
                    {{ form_errors(registrationForm.plainPasswordConfirm)}}
                </div>
                <button type="submit" class="btn">Créer un compte</button>
            {{ form_end(registrationForm) }}

            <div>
                <p>Déjà inscrit ?</p>
                <button><a href=" {{path('app_login')}} ">Connectez-vous !</a></button>
            </div>
        </section>
        
    </main>

    {% include 'footer.html.twig' %}
{% endblock %}

