{% block body %}

    {% include 'header.html.twig' %}

    <main>

        <h1>Créer un nouveau thème</h1>

        {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.name, "Nom du nouveau thème") }}
                    {{ form_widget(form.name)}}
                    {{ form_errors(form.name)}}
                </div>
            <button class="btn">Créer</button>
        {{ form_end(form) }}
        
    </main>

    {% include 'footer.html.twig' %}
{% endblock %}