{% block body %}

    {% include 'header.html.twig' %}

    <main>

        <h1>Créer un nouveau cursus</h1>

        <section class="registration">
            {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_label(form.name, "Nom du nouveau cursus") }}
                        {{ form_widget(form.name)}}
                        {{ form_errors(form.name)}}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.prix, "Prix du nouveau thème") }}
                        {{ form_widget(form.prix)}}
                        {{ form_errors(form.prix)}}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.theme, "Nom du nouveau thème") }}
                        {{ form_widget(form.theme)}}
                        {{ form_errors(form.theme)}}
                    </div>
                <button type="submit">Créer</button>
            {{ form_end(form) }}
        </section>
        
    </main>

    {% include 'footer.html.twig' %}
{% endblock %}