<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('styles/app.css')}}">
    <link rel="stylesheet" href="{{ asset('styles/header.css')}}">
</head>
<body>

    {% block header %}
        <header>

            <figure>
                <img src="{{ asset('img/logo.png') }}" alt="logo knowledge">
                <figcaption>Votre avenir, Notre réussite</figcaption>
            </figure>

            {% for user in users %}
            <nav>
                <a href="{{ path('app_home') }}">Accueil</a>
                <a href="#">Nos formations</a>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ path('app_logout')}}">Déconnexion !</a>
                {% else %}
                    <a href="{{ path('app_login') }}">Connexion</a>
                    <a href="{{ path('app_register') }}">Inscription</a>
                {% endif %}
            </nav>
            {% endfor %}

        </header>
    {% endblock %}

</body>
</html>